<!--
/**
 * @author    X2Y Development team <dev@x2y.io>
 * @copyright 2024 X2Y Development team
 */
-->
<!--@subject {{trans "PeachPayments Issue Report"}} @-->
<!--@vars {} @-->

{{template config_path="design/email/header_template"}}

<h2>Issue Report</h2>
<table style="width: 100%; border-collapse: collapse;">
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Date and Time (UTC)</th>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{var magento_data.current_date}}</td>
    </tr>
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Merchant ID</th>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{var magento_data.merchant_id}}</td>
    </tr>
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Primary Domain</th>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{var magento_data.primary_domain}}</td>
    </tr>
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Magento Version</th>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{var magento_data.magento_version}}</td>
    </tr>
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">PHP Version</th>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{var magento_data.php_version}}</td>
    </tr>
</table>

{{layout handle="email_issue_report_websites" websites=$magento_data.websites_data}}

<h3 for="description">Description of Problem</h3>
<textarea id="description" style="width: 100%; height: 150px; padding: 10px; box-sizing: border-box; border-radius: 5px; border: 1px solid #ccc; resize: vertical;" readonly>
{{var magento_data.description}}
</textarea>

{{template config_path="design/email/footer_template"}}
