<?php
/**
 * @author     X2Y Development team <dev@x2y.io>
 * @copyright  2024 X2Y.io (https://x2y.io/)
 *
 * @var \Magento\Framework\View\Element\Template $block
 * @var \Magento\Framework\Escaper $escaper
 */
$paymentLogo = $block->getViewFileUrl('PeachPayments_Hosted::images/peach-logo.svg');
?>

<button type="button" class="action peach-shortcut" data-mage-init='{"PeachPayments_Hosted/js/pay-with-peach": {}}'>
    <span><?= $escaper->escapeHtml('Pay with'); ?></span>
    <img src="<?= $escaper->escapeUrl($paymentLogo); ?>" alt="<?= $escaper->escapeHtml('PeachPayments logo'); ?>" width="100"/>
</button>
