<?php
/**
 * @author    X2Y Development team <dev@x2y.io>
 * @copyright 2024 X2Y Development team
 */

/** @var \PeachPayments\Hosted\Block\Email\Websites $block */
/** @var \Magento\Framework\Escaper $escaper */

$websitesData = $block->getWebsites() ?? [];
?>

<?php foreach ($websitesData as $websiteName => $stores): ?>
    <h2><?= $escaper->escapeHtml($websiteName) ?></h2>
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <th style="border: 1px solid black; padding: 8px;text-align: left; background-color: #f2f2f2;">Store Name</th>
            <th style="border: 1px solid black; padding: 8px;text-align: left; background-color: #f2f2f2;">URL</th>
        </tr>
        <?php foreach ($stores as $storeName => $url): ?>
            <tr>
                <td style="border: 1px solid black; padding: 8px;text-align: left;"><?= $escaper->escapeHtml($storeName) ?></td>
                <td style="border: 1px solid black; padding: 8px;text-align: left;"><a href="<?= $escaper->escapeHtml($url) ?>"><?= $escaper->escapeHtml($url) ?></a></td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endforeach; ?>
