<?php
/**
 * @author    X2Y Development team <dev@x2y.io>
 * @copyright 2024 X2Y Development team
 */

/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Magento\Framework\Escaper $escaper */
?>

<div id="peach_payment_modal" class="peach-payment-modal" data-mage-init='{"peachPaymentHelpMeButton": {"ajaxUrl": "<?= $block->getUrl('peachpayments_hosted/issueReport/submit') ?>"}}'>
    <form id="peach_payment_modal_form" class="peach-payment-modal-content">
        <div class="form-group">
            <label for="problem"><?= $escaper->escapeHtml(__("Describe your problem:")) ?></label>
            <textarea id="problem" name="problem" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="send_to"><?= $escaper->escapeHtml(__("Send email to:")) ?></label>
            <div class="input-group">
                <input type="text" id="send_to" name="sendTo" class="form-control" value="support@peachpayments.com" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="copy_to"><?= $escaper->escapeHtml(__("Send email copy to:")) ?></label>
            <div class="input-group">
                <input type="text" id="copy_to" name="copyTo" class="form-control" data-validate="{'validate-emails':true}">
                <comment><?= $escaper->escapeHtml(__("List of comma separated email addresses. For example: johndoe@domain.com, johnsmith@domain.com.")) ?></comment>
            </div>
        </div>
        <div class="additional-information">
            <span><?= $escaper->escapeHtml(__("We will send last 10000 lines of following log and additional files to PeachPayments: "))?></span>
            <div>
                <ul>
                    <li><?= $escaper->escapeHtml(__("peach_payments.log")) ?></li>
                    <li><?= $escaper->escapeHtml(__("exception.log")) ?></li>
                    <li><?= $escaper->escapeHtml(__("system.log")) ?></li>
                    <li><?= $escaper->escapeHtml(__("installed_packages.txt")) ?></li>
                    <li><?= $escaper->escapeHtml(__("list_of_modules.txt")) ?></li>
                </ul>
            </div>
            <span><?= $escaper->escapeHtml(__("Magento, ParadoxLabs Subscription (if installed) and PeachPayments module versions")) ?></span>
        </div>
    </form>
    <div class="message message-wrapper help-me-message">
        <p></p>
    </div>
</div>
