//
//  Common
//  _____________________________________________

@import '_add-new-card-popup.less';

& when (@media-common = true) {
    .checkout-payment-method .peach .payment-method-title {
        .lib-css(display, flex, 1);
        .lib-css(align-items, center, 1);
        .lib-css(justify-content, space-between, 1);

        img.payment-icon {
            margin: 0;
        }
    }

    .available-payments {
        margin-top: 10px;
        margin-left: 22px;
        .lib-font-size(13px);
        font-style: italic;
    }

    .action.peach-shortcut {
        &:extend(.box-tocart .action.tocart);

        border: 2px solid #EC5228;
        background: @color-white;
        color: #EC5228;

        img {
            margin-bottom: -9px;
        }
    }

    .payment-method.peach .embedded-checkout-form {
        height: 75vh;
    }

    .action.payWithPeachButton {
        &:extend(.action.peach-shortcut);
        width: 100%;
        margin: 0 0 10px;
        padding: 5px;
        display: block;
        max-width: 250px;

        img {
            margin-bottom: -5px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .action.peach-shortcut {
        &:extend(.box-tocart .action.tocart);
    }
}

