<!--
/**
 * @author     X2Y Development team <dev@x2y.io>
 * @copyright  2023 X2Y.io (https://x2y.io/)
 */
-->
<div class="payment-method peach _embedded" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <div>
            <input type="radio"
                   name="payment[method]"
                   class="radio"
                   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
            <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
        </div>

        <img data-bind="attr: { src: require.toUrl('PeachPayments_Hosted/images/payment/all-payments.svg'), 'alt': getTitle() }" />
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko ifnot: (isEmbeddedCheckoutExpired && hasError) -->
            <div id="embedded-checkout-form" class="embedded-checkout-form"></div>
        <!--/ko-->

        <!-- ko if: hasError -->
            <p class="message error" style="padding-left: 10px" translate="'The Embedded Checkout Form is not available at the moment. Please try again later.'"></p>
        <!--/ko-->

        <!-- ko if: isEmbeddedCheckoutExpired -->
            <p class="message error">
                <span translate="'Embedded checkout has expired, please refresh payment.'"></span>
            </p>

            <button type="button" class="button action primary" click="loadEmbeddedCheckout">
                <span translate="'Refresh Payment'"></span>
            </button>
        <!--/ko-->
    </div>
</div>
