<div class="payment-method peach" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <div>
            <input type="radio"
                   name="payment[method]"
                   class="radio"
                   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>

            <label data-bind="attr: {'for': getCode()}" class="label">
                <span class="payment-name" data-bind="text: getTitle()"></span>
            </label>

            <!-- ko if: isConsolidatedPayments() -->
                <div class="available-payments" id="available-payments" data-bind="afterRender: getAvailablePaymentsTitles">
                    <!-- ko i18n: 'Loading ...' --><!-- /ko -->
                </div>
            <!-- /ko -->
        </div>

        <!-- ko if: getLogo() -->
        <img class="payment-icon" data-bind="attr: {'src': getLogo() , 'alt': getTitle()}"/>
        <!-- /ko -->
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <fieldset class="fieldset" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <div class="payment-method-note">
                <!-- ko i18n: 'You will be redirected to our partner\'s website (PeachPayments), where you can safely pay.' --><!-- /ko -->
            </div>
        </fieldset>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: peachPlaceOrder, enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="i18n: 'Continue to payment'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
