<?php
/**
 * @author    X2Y Development team <dev@x2y.io>
 * @copyright 2024 X2Y Development team
 *
 * @var \Magento\Framework\View\Element\Template $block
 * @var \Magento\Framework\Escaper $escaper
 */
$paymentLogo = $block->getViewFileUrl('PeachPayments_Hosted::images/peach-logo.svg');
?>

<script type="text/x-magento-template" id="pay-with-peach-button-template">
    <button type="button" class="action payWithPeachButton">
        <span><?= $escaper->escapeHtml('Buy with'); ?></span>
        <img src="<?= $escaper->escapeUrl($paymentLogo); ?>" alt="<?= $escaper->escapeHtml('PeachPayments logo'); ?>" width="80"/>
    </button>
</script>

<script type="text/x-magento-init">
    {
        "*": {
            "PeachPayments_Hosted/js/pay-with-peach": {
                "isListingPage": true
            }
        }
    }
</script>
