<?php
/**
 * Copyright (c) 2020 Peach Payments. All rights reserved.
 *
 * @var \Magento\Framework\View\Element\Template $block
 * @var \Magento\Framework\Escaper $escaper
 */

/** @var $peachPaymentConfig \PeachPayments\Hosted\Helper\Config */
$peachPaymentConfig = $this->helper('\PeachPayments\Hosted\Helper\Config');
if (!$peachPaymentConfig->isServerToServerEnabled()) {
    return '';
}
?>

<div class="new-payment-card-wrapper" id="new-payment-card-wrapper">
    <div class="actions-toolbar">
        <div class="primary">
            <button type="button" data-role="add-new-card"
                    title="<?= $escaper->escapeHtml(__('Add New Payment Card')); ?>" class="action primary new-payment-card">
                <img src="<?= $block->getViewFileUrl('PeachPayments_Hosted::images/peach-logo.svg'); ?>"
                     width="100px"
                     alt="<?= $escaper->escapeHtml(__('PeachPayments logo')); ?>" />
                <span><?= $escaper->escapeHtml(__('Add New Card')); ?></span>
            </button>
        </div>
    </div>
</div>

<script data-template="peach-payments-new-card-form" type="text/x-magento-template">
    <div class="peach-payments-new-card-form">
        <div id="payment-form-loader" class="loading-mask" style="display: none;">
            <div class="loader">
                <img src="<?= $escaper->escapeUrl($block->getViewFileUrl('images/loader-1.gif')) ?>"
                     alt="<?= $escaper->escapeHtmlAttr(__('Loading...')) ?>">
            </div>
        </div>
        <div id="new-cart-form"></div>
        <div class="note">
            <span>*</span>
            <?= $escaper->escapeHtmlAttr(__('Please note, when adding a new payment card to your account a one-time 1 ZAR will be charged to your card for verification.')) ?>
        </div>
    </div>
</script>

<script type="text/x-magento-init">
    {
        "#new-payment-card-wrapper": {
            "addNewPaymentCard": {
                "paymentFormUrl": "<?= $peachPaymentConfig->getPaymentFormUrl(); ?>",
                "redirectUrl": "<?= $block->getUrl('pp-hosted/secure/registrationcheck'); ?>",
                "isLiveMode": "<?= ($peachPaymentConfig->isLiveMode()) ? 1 : 0; ?>"
            }
        }
    }
</script>
