<div class="dashboard-button-container" data-mage-init='{"dashboardLinkButton": {}}'>
    <button id="peach-payment-dashboard-link-button" type="button" style="width: -webkit-fill-available"></button>
</div>
