<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \PeachPayments\Hosted\Block\Info $block
 * @see \PeachPayments\Hosted\Block\Info
 */
$specificInfo = $block->getSpecificInformation();
?>
<?= $block->escapeHtml($block->getMethod()->getTitle()) ?>

<?php $peachData = $block->getPeachRequest(); ?>
<?php if (!empty($peachData)) : ?>
    <?php /* Let's assume cards only */ if (array_key_exists('card_bin', $peachData)) : ?>
        <table class="data-table admin__table-secondary">
            <?php if (isset($peachData['card_holder'])) : ?>
            <tr>
                <th>
                    <?= /* @noEscape */ $block->escapeHtml(__('Card Holder')) ?>
                </th>
                <td>
                    <?= /* @noEscape */ $block->escapeHtml($peachData['card_holder']) ?>
                </td>
            </tr>
            <?php endif ?>
            <?php if (isset($peachData['payment_brand'])): ?>
            <tr>
                <th>
                    <?= /* @noEscape */ $block->escapeHtml($peachData['payment_brand']) ?>
                </th>
                <td>
                    <?= $cardBin = isset($peachData['card_bin']) ? $peachData['card_bin'] : '' ?>
                    <?= $cardLastDigits = isset($peachData['card_last4_digits']) ? $peachData['card_last4_digits'] : '' ?>
                    <?= /* @noEscape */
                        $block->escapeHtml(
                            sprintf('%d******%d', $cardBin, $cardLastDigits)
                        )
                    ?>
                </td>
            </tr>
            <?php endif; ?>
            <?php if (isset($peachData['card_expiry_month'], $peachData['card_expiry_year'])) : ?>
                <tr>
                    <th>
                        <?= /* @noEscape */ $block->escapeHtml(__('Expire')) ?>
                    </th>
                    <td>
                        <?= /* @noEscape */
                            $block->escapeHtml(
                                sprintf('%d/%d', $peachData['card_expiry_month'], $peachData['card_expiry_year'])
                            )
                        ?>
                    </td>
                </tr>
            <?php endif ?>
        </table>
    <?php endif; ?>
<?php endif; ?>

<?php if ($specificInfo) : ?>
    <table class="data-table admin__table-secondary">
        <?php foreach ($specificInfo as $label => $value) : ?>
            <tr>
                <th><?= $block->escapeHtml($label) ?>:</th>
                <td>
                    <?= /* @noEscape */ nl2br($block->escapeHtml(implode("\n", $block->getValueAsArray($value, true)))) ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>

<?= $block->getChildHtml() ?>
